.header {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.title {
    color: var(--light);
    font-size: 1.5rem;
}

.menu-container {
    display: flex;
}

.menu-link {
    color: blue;
    display: block;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.2s;

    &:hover {
        color: var(--light);
        background-color: blue;
    }
}

